*~
*.swp
slaves
masters
bin/.launch-hadoop-cluster.swp
.svn/*
bin/.svn/*
bin/image/.svn/*
bin/slaves

bin/image/hadoop-ec2-init-remote.sh.slave

bin/creditsRecord_1357442402489

bin/q1

bin/q2

bin/q3
